<div class='container'>
    <div ng-hide="dash.connectionError">
        <div class="row">
            <div class="weathersize">
                <ng-weather></ng-weather>
            </div>
        </div>
        <div class="row">
            <ng-day-graph></ng-day-graph>
        </div>

        <div class="row">
            <div class="col s12 m6">
                <ng-output></ng-output>
            </div>
            <div class="col s12 m6">
                <ng-total-yield></ng-total-yield>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-content">
                    <span class="card-title black-text">
                        Vermogen per paneelgroep
                    </span>
                    <table>
                        <thead>
                            <tr>
                                <th>Naam</th>
                                <th>Output (Watt)</th>
                                <th>Laatste meting</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="solar in dash.outputData">
                                <td class="description">
                                    <span class='title'><a href="" ng-click="dash.open(solar)">{{solar._id}}</a></span>
                                    <p>{{solar.description}}</p>
                                </td>
                                <td>{{solar.output}}</td>
                                <td>{{dash.getFromNow(solar.updated)}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div ng-show="dash.connectionError" class="card">
        <div class="card-content red white-text">
            <h4 class="center-align">Kan niet verbinden met de database.</h4>
        </div>
    </div>
</div>
