<img class='solarimg z-depth-1' src="res/SolarHeader.jpg">


<div class="solarcontainer">
    <div class='card'>
        <div class='solarheader'>
            <div class='titleleft'>
                <span class="solarheaderfont">{{solar.solar}}</span>
                <span class="solarheaderdesc">Naam</span>
            </div>
            <div class='titlecenter'>
                <span class="solarheaderfont">Schuur</span>
                <span class="solarheaderdesc">Locatie</span>
            </div>
            <div class='titleright'>
                <span class="solarheaderfont">SMA</span>
                <span class="solarheaderdesc">Omvormer</span>
            </div>
        </div>
        <div ng-progress progress="72" barheight="2"></div>

        <div class='row solarbody'>
            <div class="col s8 solarcontent"><a class="btn">Wat mooooi</a>
            </div>
            <div class="col s4 solarbar">
                <div class="infocard outputcard">
                    <div class="content">
                        <span class="numbers">1.024</span>
                        <span class="sort">Watt</span>
                        <img src="res/technikoicon.png" class="icon">
                    </div>
                    <div class="progressbar" ng-progress progress="24" color="#008db3"></div>
                    <span class="progressdescription">24% van max (6000W)</span>
                </div>

                <div class="infocard yieldcard">
                    <div class="content">
                        <span class="numbers">1.134</span>
                        <span class="sort">kWh</span>
                        <i class="icon mdi mdi-leaf yieldicon"></i>
                    </div>
                    <div class="progressbar" ng-progress progress="10" color="#439330"></div>
                    <span class="progressdescription">10% totale opbrengst zonnepanelen (1.501.000 kWh)</span>
                </div>
                <div class="infocard onlinecard">
                    <div class="content">
                        <span class="numbers">76:12</span>
                        <span class="sort">uur</span>
                        <i class="icon mdi mdi-clock onlineicon"></i>
                    </div>
                    <div class="progressbar" ng-progress progress="76" color="#b75b1c"></div>
                    <span class="progressdescription">76% van de totale tijd online</span>
                </div>

            </div>
        </div>
    </div>
</div>