.reveal-animation.ng-enter {
    -webkit-animation: enter_sequence 0.3s linear;
    /* Safari/Chrome */
    
    animation: enter_sequence 0.3s linear;
    /* IE10+ and Future Browsers */
}

@-webkit-keyframes enter_sequence {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes enter_sequence {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/***************
    Nav List
***************/

ul.table-of-contents li {
    padding: 2px 0;
}

ul.side-nav li.logo {
    text-align: center;
    margin-top: 16px;
    margin-bottom: 32px;
    border-bottom: 1px solid #ddd;
}

ul.side-nav.fixed li.logo:hover {
    background-color: transparent;
}

ul.side-nav.fixed {
    overflow: hidden;
}

ul.side-nav.fixed li {
    line-height: 44px;
    transition: background-color 0.3s ease;
}

ul.side-nav.fixed li:hover,
ul.side-nav.fixed li.active {
    transition: background-color 0.3s ease;
    background-color: rgba(0, 0, 0, 0.05);
}

ul.side-nav.fixed li a {
    font-size: 15px;
}

ul.side-nav.fixed ul.collapsible-accordion {
    background-color: #FFF;
}

ul.side-nav.fixed:hover {
    overflow-y: auto;
}

.bold > a {
    font-weight: bold;
}

.header,
.main,
.footer {
    padding-left: 240px;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
}

html,
body {
    height: 100%;
    background-color: #fcfcfc;
}

@media only screen and (max-width: 992px) {
    .header,
    .main,
    .footer {
        padding-left: 0px;
    }
}

.logoimg {
    padding-bottom: 10px;
}

.top-nav {
    height: 122px;
    background-color: #f47933;
}

nav.top-nav a.page-title {
    line-height: 122px;
    font-size: 48px;
    text-align: center
}

.small-title {
    font-size: 20px;
    font-weight: 300;
    color: grey;
}

.small-content {
    font-size: 40px;
    font-weight: 300;
}

.description {
    max-width: 350px;
}

.weather-title {
    background-color: #f47933;
    color: white;
    font-size: 30px;
    font-weight: 300;
    padding-left: 20px;
    margin-top: 20px;
    width: 175px
}

.weather-subtitle {
    color: dimgray;
    font-size: 18px;
    font-weight: 300;
    margin-left: 20px;
    margin-top: 5px
}

.weather-expectation {
    background-color: #E8E8E8;
    height: 100%;
    width: inherit;
    position: absolute;
    border-left: 2px solid #ddd;
}

.weather-expectation .title {
    color: black;
    font-size: 20px;
    font-weight: 300;
    margin-left: 5px;
    padding-top: 25px;
}

.weather-expectation .content {
    padding-top: 20px;
    padding-left: 10px;
}

.temperature {
    font-size: 80px;
    font-weight: 200;
}

.largeicon {
    font-size: 120px;
    margin-left: 30px;
}

.weathersize {
    position: relative;
    max-width: 525px;
    margin-left: auto;
    margin-right: auto;
}

.weather-body {
    display: table;
    position: relative;
    width: 100%;
    margin-right: 10px;
}



.time {
    color: gray;
    font-size: 30px;
    font-weight: 300;
    margin-top: 20px;
    margin-right: 10px;
    float: right;
}

.sunset {
    position: absolute;
    height: 100%;
   vertical-align: middle;
    right: 0;
    top: 0;
    display: table-cell;
    margin-top: 10%;
    margin-right: 10px;
}

.sunset .text {
    font-size: 20px;
}

.dimgray {
    color: dimgray;
}

.ancol {
    width: 0%;
}

.alerts {
    position: absolute;
    background-color: lightblue;
    top: 0;
    height: 96%;
    right: -20px;
    z-index: 1;
}

.weathers {
    position: relative;
    z-index: 2;
}
