.monthpicker {
	max-width: 900px;
	margin-right: auto;
	margin-left: auto;
}

.monthpicker .box {
	transition: box-shadow 0.3s ease, transform 0.3s ease, background-color 0.3s ease;
	position: relative;
	width: 72px;
	height: 72px;
	text-align: center;
	display: inline-block;
	cursor: pointer;
	cursor: hand;
}

.monthpicker .box:hover, 
.monthpicker .box:active {
	transition: box-shadow 0.3s ease, transform 0.3s ease, background-color 0.3s ease;
	background-color: #E8E8E8;
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	transform: translateY(-2px);
}

.box .text {
	font-size: 25px;
	font-weight: 300;
	line-height: 72px;
}