    <link rel="stylesheet" type="text/css" href="./directives/graph/yearpicker.css">
    <div class="card yearpicker">
        <div class="col s2 border-right arrowbox waves-effect" ng-click="move(1)">
            <a>
                <i class="center-align mdi-navigation-chevron-left arrow"></i>
            </a>
        </div>
        <div class="col s8 ">
            <div class="years">
                <span class="year">{{years[0]}}</span>
                <span class="year">{{years[1]}}</span>
                <span class="year">{{years[2]}}</span>
                <span class="year">{{years[3]}}</span>
                <span class="year">{{years[4]}}</span>
            </div>
        </div>
        <div class="col s2 border-left arrowbox waves-effect" ng-click="move(-1)">
            <a>
                <i class="center-align mdi-navigation-chevron-right arrow"></i>
            </a>
        </div>
    </div>