<div class="card">
    <div class="row">
        <div class="col s8">
            <div class="weather-title">Ekehaar
            </div>
            <div class="weather-subtitle">Ma 15-03-15</div>
            <div class="weather-card-content">
                <i class="gray large mdi-file-cloud-queue"></i>
                <span class="temperature">32°</span>
            </div>
        </div>
        <div class="col s4">
            <div class="weather-expectation">
                <div class="title">Verwachting</div>
            </div>
        </div>
    </div>
</div>
