<div class="card weathers">
    <div class="row">
        <div class="col s5">
            <div>
                <div class="weather-title">Ekehaar</div>
                <div class="weather-subtitle">{{description|uppercase}}</div>
            </div>
        </div>
        <div class="col s7">
            <div class="time">{{time}}</div>
        </div>
    </div>
    <div class="row">
        <div class="col s4">
            <i class="largeicon dimgray" ng-class="weatherIcon"></i>
        </div>
        <div class="col s8">
            <div class="weather-body">
                <div class="temperature">{{temperature}}°C</div>
                <div class="sunset">
                    <i class='small dimgray mdi mdi-weather-sunset-up'></i>
                    <span class="text">{{sunup}}</span>
                    <br>
                    <i class='small dimgray mdi mdi-weather-sunset-down'></i>
                    <span class="text">{{sundown}}</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card alerts">
    Test
</div>
